@font-face {
	font-family: 'Galano Grotesque DEMO';
	src: url('Galano\ Grotesque\ Bold.otf') format('otf'),
			url('Galano\ Grotesque\ Bold.woff') format('woff');
}

@background-color: #e8e8e8;
@logo-font-color: #333;
@logo-accent-color: #999;


html {
  background: #e8e8e8;
}
body {
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}
#logo-full {
	width: 84%;
	margin: 100px auto 20px;
	display: block;
	@media (max-width: 500px) {
		width: 98%;
		margin: 50px auto -15px;
	}
}
#logo-full text {
	fill: @logo-font-color;
}
#logo-full path {
	fill: @logo-accent-color;
}
p {
	font-family: Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  color: #ff471a;
  @media (max-width: 600px) {
  	font-size: 2em;
  }
}
.animated-icon {
  position: relative;
  width: 90px;
  height: 100px;
  margin: 100px auto 20px;
  background-color: @logo-font-color;
  padding: 0 20px;
  border-radius: 2px;
  @media (max-width: 500px) {
		margin-top: 50px;
	}
}
.slash > path{
  fill: @logo-accent-color;
  stroke: @logo-accent-color;
}
.asterisk > path {
  fill: @background-color;
}
  	
.fallback {
	display: none;
}
.no-svg .fallback {
	width: 95px;
	height: 57px;
	background-image: url(img/logo_icon_greyscale1.png);
}
.no-svg .animated-icon {
	padding-top: 16px;
}